@import '../../styles/vars';

$spinner-color: $color-1;

.animationContainer {
  display: inline-block;
}

.root {
  display: inline-block;
  transform: translateY(10px);

  margin: 0 20px;
  width: 50px;
  height: 40px;

  text-align: center;
}

.root div {
  background-color: $spinner-color;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 2px;

  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.root .rect2 {
  animation-delay: -1.1s;
}

.root .rect3 {
  animation-delay: -1.0s;
}

.root .rect4 {
  animation-delay: -0.9s;
}

.root .rect5 {
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}
